/* General CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --palette-lightest: #CAA8F5;
    --palette-light: #9984D4;
    --palette-mid: #592E83;
    --palette-dark: #230C33;
    --palette-contrast: #B27C66;
}

html {
    font-size: 16px;
    font-family: 'Monterrat', sans-serif;
}

body {
    background-color: lightgray;
}

/* Top Nav */
#connect {
    width: 100%;
    background-color: #fff;
    height: 3rem;
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: gray;
}

#connect ul {
    display: inline-flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

#connect li a {
    text-decoration: none;
    color: gray;
    padding: 10px;
    border-radius: 10px;
}

#connect li a:hover {
    color: var(--palette-mid);
    background-color: ghostwhite;
    transition: color ease-in-out 0.3s;
    transition: background-color ease-in-out 0.3s;
}


/* Logo */
.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.logo-e {
    font-weight: 700;
}

/* Header */
header {
    background-image: linear-gradient(0.03turn, var(--palette-dark), var(--palette-mid), var(--palette-contrast));
    color: #fff;
    height: 12rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    padding-left: 3rem;
    font-size: 5rem;
    flex-grow: 3;
}

header h2 {
    flex-grow: 1;
    padding-left: 6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

/* Navigation */
#site {
    width: 100%;
    background-color: var(--palette-dark);
    color: #fff;
    height: auto;
}

#site ul {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0.3rem;
    flex-flow: row wrap;
}

#site li {
    padding: 20px;
    margin: 0;
}

#site li:hover {
    background-color: var(--palette-light);
    transition: background-color ease-in-out 0.2s;
}

#site a {
    color: #fff;
    text-decoration: none;
    padding: 30px;
}

/* Hamburger */
.hambutton {
    position: fixed;
    z-index: 100;
    top: 0.4rem;
    right: 0.4rem;
    padding: 4px;
    border: lightgray solid 1px;
    background: #fff;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.hamburger-menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
    color: var(--palette-mid);
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
  }

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: var(--palette-mid);
    text-decoration: none;
}

.menu-item:active {
    background-color: var(--palette-lightest);
}

/* CTA Banner */
#banner {
    width: 100%;
    background-image: url("../images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

#cta {
    margin: 10%;
    text-align: center;
    background-color: var(--palette-mid);
    border-radius: 25px;
    padding: 2% 6%;
    color: #fff;
    box-shadow: 3px 3px;
}

h3 {
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    padding-bottom: 20px;
}

#cta button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 10px 20px;
    border: 0;
    color: var(--palette-dark);
    border-radius: 20px;
    background-color: var(--palette-lightest);
    box-shadow: 2px 2px 0 var(--palette-contrast);
}

#cta button:hover {
    color: var(--palette-contrast);
    transition: color ease-in-out 0.2s;
}

#cta button:active {
    box-shadow: 0px 0px;
    background-color: var(--palette-light);
}

/* Task Suggestion Section */
#purpose {
    text-align: center;
    color: var(--palette-dark);
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    max-width: 1500px;
    margin: auto;
}

.tasks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.task {
    width: 350px;
    text-align: center;
    height: 350px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.task h4 {
    font-size: 2rem;
    padding: 20px;
    height: 33%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

#task1 {
    background-image: url("../images/sincerely-media-JMUIJaZllUs-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#task2 {
    background-image: linear-gradient(0.05turn, var(--palette-contrast), var(--palette-light));

}

#task3 {
    background-image: url("../images/christina-wocintechchat-com-Q8IgAlmHAUA-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#task4 {
    background-image: linear-gradient(0.05turn, var(--palette-lightest), var(--palette-mid));

}

#task5 {
    background-image: linear-gradient(0.05turn, var(--palette-dark), var(--palette-light));
}

#task6 {  
    background-image: url("../images/andrew-neel-cckf4TsHAuw-unsplash.jpg");
    background-size: cover;
    background-position: center;

}

#task7 {
    background-image: linear-gradient(0.05turn, var(--palette-mid), var(--palette-contrast));
}

#task8 {
    background-image: url("../images/malte-helmhold--PUJMwxPp8I-unsplash.jpg");
    background-size: cover;
    background-position: center;

}

.task:hover {
    color: var(--palette-mid);
    transition: .2s ease-in-out;
}

/* Specialisms Section */
#types {
    border-top-left-radius: 25% 10%;
    border-top-right-radius: 25% 10%;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    margin-top: 40px;
}

.type {
    width: 45%;
    margin: 20px;
}

.type img {
    width: 75%;
    display: inline;
    margin: 20px;
}

.type h4 {
    color: var(--palette-light);
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}

.type p {
    font-size: 1.2rem;
}

.type-text {
    text-align: left;
    padding: 20px;
    display: inline;
}

.type-text button {
    background-color: var(--palette-light);
    font-family: 'Montserrat', sans-serif;
    border: 0;
    font-weight: 700;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 20px;
    border-radius: 20px;
}

.type-text button:hover {
    background-color: var(--palette-mid);
    transition: .2s ease-in-out;
}

.assistants {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

/* Final CTA Section */
#final-cta {
    background-color: var(--palette-dark);
    color: #fff;
    text-align: center;
    padding: 30px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

#final-cta button {
    background-color: var(--palette-light);
    font-family: 'Montserrat', sans-serif;
    border: 0;
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 0 var(--palette-contrast);
    margin-bottom: 40px;
}

#final-cta button:hover {
    background-color: var(--palette-mid);
    transition: 0.2s ease-in-out;
}

#final-cta button:active {
    box-shadow: 0px 0px;
}

/* Footer Section */
footer h5 {
    font-size: 1.4rem;
    margin: 10px;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: var(--palette-dark);
}

footer a:hover {
    color: var(--palette-contrast);
    transition: .2s ease;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.link-list {
    margin: 40px 20px;
}

#copyright {
    text-align: right;
    margin: 20px;
}

/* Breakpoints */
@media only screen and (max-width: 750px) {
    header h2 {
        font-size: 1.7rem;
        padding-left: 15%;
    }

    #cta h3 {
        display: none;
    }

    #purpose h3 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 696px) {
    header h2 {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 300px) {
    header {
        justify-content: center;
    }
    
    header .logo {
        font-size: 4em;
        padding: 20%;
    }

    header h2 {
        display: none;
    }
}

@media only screen and (max-width: 994px) {
    #site ul {
        display: none;
    }

    #connect ul {
        display: none;
    }

    .hamburger-menu {
        display: block;
        padding: 10px;
    }
}

@media only screen and (min-width: 995px) {
    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: 1335px) {
    #connect ul {
        width: 95%;
    }
}

@media only screen and (max-width: 400px) {
    .task {
        height: 100px;
        width: 100%;
        margin: 0;
    }

    #purpose {
        margin: 0;
    }

    .task h4 {
        font-size: 1.5rem;
        height: 100%;
    }
}

@media only screen and (max-width: 1439px) and (min-width: 1089px) {
    #task4 {
        display: none;
    }

    #task8 {
        display: none;
    }
}

@media only screen and (max-width: 899px) {
    .type {
        width: 90%;
    }
}